.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

#main-card {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color:   lightgray;
}

#intro h1 {
    align-items: center;
    text-align: center;
}

#intro p {
    text-align: center;
}

#intro button {
    align-items: center;
    margin: auto;
    display: block;
}

ul {
    list-style: none;
}

ul button {
    padding: 10px;
    margin: 20px 0px;
    border-radius: 1em;
    background-color: purple;
    color: white;
}


    